.lesson-guide-container{
    background: linear-gradient(90deg, #FFE1C1 0%, #FFBD00 100%);
    height: 50%;
    width: 50%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
