.dialog-box-container {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;

  min-width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 70px;
  height: 80px;
  background: #FCFCEA;
  border: 7px solid #F7C741 ;
  padding-left: 20px;
  padding-right: 20px;
}

.dialog-box-inner-container{
   display: flex;
   flex-direction: row;
   gap: 10px;
   /* border: 1px solid black; */
   justify-content: center;
   align-items: center;
}   

.dialog-box-inner-container p{
  font-size: 18px;
}

.dialog-icon-container{
  display: flex;
  align-items: center;
  justify-content:center ;  
}

.dialog-icon-container img{
  width: 30px;
  height: 30px;
}